<ion-view title=" Edit Profile" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="EditProfile-list4">
      <ion-item class="item-avatar" id="EditProfile-list-item4">
        <img src="img/Ib21LYGThSYeYtN56QK6_l60Hf.png">
        <h2>Nisa</h2>
        <p>student</p>
      </ion-item>
    </ion-list>
    <ion-list id="EditProfile-list5">
      <ion-item id="EditProfile-list-item8">Interest: </ion-item>
      <ion-item id="EditProfile-list-item9">Age: </ion-item>
      <ion-item id="EditProfile-list-item10">Preferences: </ion-item>
    </ion-list>
    <div id="EditProfile-button-bar4" class="button-bar">
      <button id="EditProfile-button22" class="button button-stable button-block">Edit</button>
      <button id="EditProfile-button23" class="button button-stable button-block">Save</button>
    </div>
  </ion-content>
</ion-view>