<ion-view title="For You " id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="forYou-list7">
      <ion-item class="item-avatar" id="forYou-list-item11">
        <img src="img/SO8iAlC7RZSvwfRo87N8_l60Hf.png">
        <h2>Jacob</h2>
      </ion-item>
    </ion-list>
    <div id="forYou-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Should I watch Euphoria because people say it's good but im not sure...</p>
    </div>
    <form id="forYou-form3" class="list">
      <label class="item item-input" id="forYou-textarea2">
        <span class="input-label">answer...</span><textarea placeholder=""></textarea></label>
    </form>
    <div>
      <img src="img/Top3oRNmSHSV6XbEgb73_An_up-close_picture_of_a_curious_male_domestic_shorthair_tabby_cat.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="forYou-list8">
      <ion-item class="item-avatar" id="forYou-list-item12">
        <img src="img/GMbW0DmhRSKS3bnGxKx9_l60Hf.png">
        <h2>Ross</h2>
        <p>cat lover</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>