<ion-view title="Home" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="home-form1" class="list">
      <label class="item item-input" id="home-textarea1">
        <span class="input-label">What do you want to ask?</span><textarea placeholder=""></textarea></label>
    </form>
    <h1 id="home-heading1" style="color:#000000;">Trending</h1>
    <div id="home-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">What are the top 10 most demanding jobs in the world right now?</p>
    </div>
    <div>
      <img src="img/Lsiub0ezRnqLfa8FLVDY_maxresdefault.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="home-list1">
      <ion-item class="item-avatar" id="home-list-item1">
        <img src="img/X1C43po6SduUOMLge0Uw_l60Hf.png">
        <h2>Mark </h2>
        <p>Student in UTP</p>
      </ion-item>
    </ion-list>
    <div id="home-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">why do i keep getting this error?
        <br>Please help me!!</p>
    </div>
  </ion-content>
</ion-view>